.row {
width: 95%;
margin: 0 auto;
overflow: hidden;
}
.tiga{  width:22.916666666666664%}
.enam{  width:47.91666666666667%}
.sembilan{  width:72.91666666666666%}
.tiga, .enam, .sembilan
{display:inline; float:left; margin:1% 1.0416666666666665%}
@media screen and (max-width: 767px) {
.tiga, .enam, .sembilan
{width:97.91666666666666%;
display:inline; float:left;margin:0 1%}}
h3.rwd-toggle {
	
	padding: 0 0 0 10px;
	margin: 20px 0 0 0;
	border:1px solid #dfdfdf;
	background-color: #F1F1F1;
	
	height: 34px;
	line-height: 34px;
	width:95%;
	font-size:35px;
	font-weight: normal;
	float: left;
}

h3.rwd-toggle a {
	color: #464646;
	font-family:Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	text-decoration: none;
	display: block;
	text-shadow:#fff 0 1px 0;
}

h3.rwd-toggle a:hover {
	color: #444;
}

h3.active {
	background-position: left bottom;
}


div.updated {
	background-color:#f9edbe;
	border:1px solid #f0c36d;
	color:#212121;
}
